div.instrument {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width:80vw;
    padding-bottom:80vh;
}

div.instrument div {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: 80vh;
}

div.instrument div img {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
}

div.instrument div svg {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
}
